body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('assets/IMG_0154.jpg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
}

header h1 {
    font-size: 2.5em;
}

.sobre {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.sobre img {
    width: 150px;
}

.pergamino {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 228, 196, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    color: black;
}

.slider {
    width: 60%;
    margin: auto;
    overflow: hidden;
}

.slide {
    width: 100%;
    display: none;
}

.slide:first-child {
    display: block;
}
